* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #427D9D;
    color: white;
    padding: 10px;
}

a {
    color: white;
}

a:hover {
    color: salmon;
}

.top-cloud {
    margin-left: 600px;
    margin-top: 30px;
}

.bottom-cloud {
    margin-right: 600px;
}

h1 {
    padding-left: 10px;
    font-size: 30px;
}

h2 {
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
    margin-bottom: 0;
}

h3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 0;
}

.menu li {
    display: inline-block;
    margin: 5px;
    padding-right: 10px;

}

a:link {
    text-decoration: none;
}


.description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
    overflow: hidden;
}

.description,.cards {
    background-color: #9BBEC8;
}

.quote {
    background-color: #DDF2FD;
    text-align: center;
    padding: 20px 30px;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;

}

.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    margin: 20px;
    border-radius: 95px;
    background-color: lightsteelblue;
    box-shadow: 10px 10px #427D9D;

}

#skills li {
    display: inline-block;
    border: 5px outset black;
    border-radius: 30px;
    text-align: center;
    margin: 10px;
    padding: 15px 25px;
    list-style-type: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A9A9A9;
    padding: 20px;
    
}

footer li {
    display: inline-block;
}

footer a {
    color: black;
}

footer a:hover {
    color: azure;
}

footer ul {
    padding: 0;
    margin-bottom: 0;
}

footer button {
    background-color: #A9A9A9;
    font-size: 20px;
    border: none;
}

footer button:hover {
    color: azure;
}